@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>User Impersonation</h1>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <div>Current user is @User.Identity.Name</div>
        }
        else
        {
            <div>User is not authenticated</div>
        }
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Impersonation</h2>
        <ul>
            <li>@Html.ActionLink("List of Users", "ListOfUsers", "Impersonation")</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>More Information</h2>
        <p>
            This is supporting codebase for <a href="http://tech.trailmax.info/2017/07/user-impersonation-in-asp-net-core/" target="_blank">blog-post about User Impersonation in Asp.Net Core</a>
        </p>
    </div>
</div>
